.Meaning h4 {
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
  }
  
  .Meaning p{
    color: #e7ecf0;
    font-size: 18px; 
    margin-top: 10px;
    padding: 5px; 
  }

    
  .Meaning .example {
    color: #70757a;
    font-style: italic;
    margin-top: 10px;
    padding: 5px; 
  }